
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddItemView</title>
</head>
<body>
    <div> 
        <h1>Add Item</h1>
        <br />
        <lable>Item Name</lable><input type="text" name="ItemName" required/>
        <br />
        <lable>Description</lable><input type="text" name="ItemDescription" required />
        <br />
        <lable>Price</lable><input type="text" name="ItemPrice" />
        <br />
        <lable>Quantity Available</lable><input type="text" name="QuantityAvailable" required/>
        <br />
        <br />
        <input type="submit" name="Save" value="Save" style="float:right"/>
        <br />
        <input type="submit" name="Cancel" value="Cancel" style="float:right" />

    </div>
</body>
</html>
