@model Homework7.ViewModels.ShopItemViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/ShopStyleSheets.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>ViewAddItem</title>
</head>
<body>
    <div> 

        @using (Html.BeginForm("SaveNewItem", "Shop"))
        {

            <h1>Add Item</h1>
            <br />
            <center>
                <table style=" text-align:center" >
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    <tr />
                    <tr>

                        <td>
                            Item Name
                        </td>
                        <td>
                            <input type="text" name="ItemName" required />
                        </td>
                    <tr>
                        <td>
                            Description
                        </td>
                        <td>
                            <input type="text" name="ItemDescription" required />
                        </td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td><input type="text" name="ItemPrice" /></td>
                    </tr>
                    <tr>
                        <td>Quantity Available</td>
                        <td><input type="text" name="QuantityAvailable" required /></td>
                    </tr>
                    <tr></tr>
                </table>
            </center>
            <br />
        

           
            <input type="submit" name="Save" value="Save" />
            }

            @using (Html.BeginForm("ViewShop", "Shop"))
            {
            <input type="submit" name="Cancel" value="Cancel"  />
            }
    </div>
</body>
</html>
