
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/ShopStyleSheets.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Immersion Center</title>
</head>
<body>
    <div> 

    </div>
</body>
</html>
