@model Homework7.ViewModels.ShopItemViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/ShopStyleSheets.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Immersion Center</title>
</head>
<body>
    <div>
        <h1>War of the World Immersion Center</h1>
        <br />
        <h3>Your one stop shop for all your reenactment needs</h3>
        <br />
        <lable>Didn't find what you needed? Add an item here: </lable> <input type="submit" value="+" name="AddItem" style="border-radius:200px" />
        <br />
        <br />
        <table>
           <tr>
               <th>Product</th>
               <th>Price</th>
               <th>Quantity available</th>
           </tr>
            <tr>
                <td>@Model.Name</td>
                <td>@Model.Price</td>
                <td>@Model.QuantityAvailable</td>
            </tr>
        </table>
    </div>
</body>
</html>
