@model  List<Homework7.ViewModels.ShopItemViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/ShopStyleSheets.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Immersion Center</title>
</head>
<body>
    <div>
        <h1>War of the World Immersion Center</h1>
       
        <p>Your one stop shop for all your reenactment needs</p>
        
        @using (Html.BeginForm("ViewAddItem", "Shop", FormMethod.Post))
        {
            <lable>Didn't find what you needed? Add an item here: </lable> <input type="submit" value="+" name="AddItem" style="border-radius:200px" />
        }
         
            <br />
       
            <center>
                <table style="border-color:Black; border-style: solid">
                    <tr style="border-color:Black; border-style: solid">
                        <th style="border-color:Black; border-style: solid">Product</th>
                        <th style="border-color:Black; border-style: solid">Price</th>
                        <th style="border-color:Black; border-style: solid">Quantity available</th>
                    </tr>
                    @if (Model != null)
                {

                    foreach (var Item in Model)
                    {

                            <tr style="border-color:Black; border-style: solid">
                                <td>@Item.Name</td>
                                <td>@Item.Price</td>
                                <td>@Item.QuantityAvailable</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr style="border-color:Black">
                            <td> </td>
                            <td></td>
                            <td></td>
                        </tr>
                    }

                </table>
            </center>

        </div>
    </body>
</html>
