@model Homework7.ViewModels.ShopItemViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <link href="~/ShopStyleSheets.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Immersion Center</title>
</head>
<body>
    <div> 
        <input type="submit" name="AddItem" />
        @*<a href="" >*@
    </div>
</body>
</html>
